/* GENERALES */
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* REGLAS ENLACES */

a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.25vw;
}

/* REGLAS COLUMNAS */
 

.column-4 {
    width: 24.5%;
    padding-left: 4%;
}

/* REGLAS MENU */
#contMenu {
    color: white;
    background-color: darkslategrey;
}

/* REGLAS BODY */

#cuerpoInicio {
    background-image: url(../img/imagenFondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

/* CONTENEDOR */
.contenedor {
    padding-top: 35%;
}

#contContTitulo {
    padding-top: 5%;
}

/* REGLAS TITULO */
#contTitulo {
    background-color: lightgray;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#titulo {
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
    font-size: 3vw;
}

#tituloMenu {
    color: white;
}

/* REGLAS INFORMACION */
#contInformacion {
    background-color: lightgray;
    width: 55%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#informacion {
    font-family: 'Radio Canada', sans-serif;
    font-size: 1.75vw;
    height: 50vh;
    padding-top: 5%;
}

#contenedorImagen {
    padding-top: 5%;
}

#imagen {
    display:block;
    margin:auto;
    width: 150px;
    height: 150px;
}

/* REGLAS FORMULARIO */
.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    border-radius: 5px;
}

#boton {
    display: flex;
    justify-content: center;
}

.boton {
    width: 50%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: grey;
}

/* REGLAS TABLA */
#tabla {
    padding-top: 4%;
}

@media only screen and (max-width: 600px) {
    body {
        height: 110vh;
    }

    #titulo {
        font-size: 6vw;
    }

    #imagen {
        width: 75px;
        height: 75px;
    }

   #paginaPresentacion {
       padding-top: 30%;
       width: 100%;
   }
   
   #menuNavegacion a {
       font-size: 3.5vw;
   }

   .form  {
        font-size: 5vw;
   }

   #contTitulo {
        width: 85%;
    }

    #contInformacion {
        width: 85%;
        height: 50vh;
    }

    .column-4 {
        width: 10%;
        font-size: 1vw;
        padding-left: 4%;
    }
}
 